<% add_decidim_page_title(t(".title")) %>
<%
edit_link(
  decidim_admin.static_pages_path,
  :read,
  :static_page
)
%>

<div class="container py-8">
  <div class="w-full md:w-3/4 mx-auto bg-white p-6 rounded-lg shadow-sm border border-gray-100">
    
    <h1 class="h2 decorator mb-6">
      <%= t ".title" %>
    </h1>

    <div class="prose mb-8 text-gray-600">
      <%= t(".description_html") %>
    </div>

    <div class="flex items-center gap-2 text-gray-600 mt-4">
      <p class="m-0">
        <%= t(".icon_description") %>
      </p>
      
      <%= icon "star-line", class: "w-6 h-6 text-gray-500 fill-current" %>
    </div>

  </div>
</div>